
<html>
 <head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=0.5, maximum-scale=2.0, user-scalable=yes,text/html; charset=utf-8" />
  <title>登陆</title>
<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.png') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}">

 </head>

 <body>
  <br />
  <br />
  <br />
  <br />
  <h1 align="center" style="color:#283c63;">登陆</h1>
  <br />
  <br />
  <div id="main" align="center">
    <form action="{{ url_for('login') }}" method="POST">
    <div align="center">
     <table id="rounded-corner" summary="2007 Major IT Companies' Profit">
      <tbody>

       <tr>
        <td align="center"><p style="color:#daebee;font-size:16px;" align="center">用户名称：</p></td>
           <td><input class="text" type="text" name="username" size="25" autocomplete="off" required="required" /></td>  </tr> <tr> <td>    <br />  </td> </tr> <tr>
                   <td align="center"><p style="color:#daebee;font-size:16px;" align="center">输入密码：</p></td>

        <td><input class="text" type="password" name="userpass" size="25"  autocomplete="off" required="required" ></td> </tr> <tr> <td>    <br />  </td> </tr>
        <!-- placeholder="3 -5"  -->

      </tbody>
     </table>
    </div>
    <div align="center">
     <input type="submit" ;="" align="center" value="登陆" />
    </div>

   </form>
      <button ><a href="/register" style="color:#283c63;">注册</a> </button>

 </body>
</html>
