<!DOCTYPE html>
<html>
 <head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=0.5, maximum-scale=2.0, user-scalable=yes,text/html; charset=utf-8" />
  <title>{{username}}</title>
<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.png') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}">
<style type="text/css">
table {margin: auto;}
tr.s1
{
  color:#1a0841;
  background-color:#ffad5a;
}
tr.s2
{
  color:#daebee;
  background-color:#4f9da6;
}
    tr.head
    {
  color:#000000;
  background-color:#f38181;
}
td{text-align:center ;height: 1px}
</style>

 </head>
<body>
  <br />
  <br />
  <br />
  <br />
  <br />
  <br />
  <div id="main" align="center">
   <div align="center">
     <table >
  <tbody>
  <tr class="head">
      <td>id</td>
      <td>题目</td>
      <td>作者</td>

  </tr>
{% for env in S_tangshi_result %}
      <tr class={{ loop.cycle("s1","s2")}}>
      {% for aaa in env %}
     <td>{{ aaa }} </td> {% endfor %}
    </tr>
{% endfor %}
   </tbody>
  </table>
                     <button ><a href="/tangshi" style="color:#283c63;">唐诗</a> </button>

 </body>
</html>